/* Globales */

:root{
    --Text-Color-Primary: white; 
    --Color-Primary: #9956EA;
    --Color-Sec: #AC44D4;
    --Thirt-Color: #F54FF6;
    --Fourth-Color: #5D44D4;
    --Fifth-Color: #4F5EF6;

}

body {
    display: flex;
    justify-content: center;
    background-color: #0E0414;
    text-decoration: none;
}

.content{
        display: flex;
        justify-content: center;
        width: 100%;
        /* background-color: aqua; */
}

/* Fin globales */

/* Barra de navegación */

.navBar{
    
    height: 55px;
    width: 1000px;
    background-color: aqua;
    
}
.navigationBar{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.barElements{
    display: flex;
    padding: 0;
    margin: 0;
    background-color: var(--Fifth-Color);
    justify-content: center;
    width: 105px;
    height: 45px;
    align-items: center;
}

a{
    text-decoration: none;
    color:var(--Text-Color-Primary);
}

a:visited{
    color: var(--Text-Color-Primary);

}



/* Fin de barra de navegación */